$container-max-widths: (
  sm: 1920px,
  md: 1920px,
  lg: 1920px,
  xl: 1920px
);


$brown: #B77658;
$dark: black;
$light: #ececec;
$light-brown: $brown;
$grey: #D8D8D8;
$purple: #7381BF;
$orange: #F4AB6B;
$teal: #72C9BB;
$pink: #F495B2;

$primary: #0050FF; 
$primary-dark: #2469FF;
$grid-gutter-width: 21px;

