---
---

* , *:before, *:after{ 
     box-sizing:border-box; 
     -moz-box-sizing:border-box; 
     -webkit-box-sizing:border-box; 
     -ms-box-sizing:border-box;
   }

* {
    overflow:inherit !important;
}

html,body {min-height:100%;}

body{
    background-color:white;
}
.fixed-nav{
    top:0px;
}
code:before{
    display:none;
}

.default-page-container{
    margin: auto;
    padding:100px 20px 20px 20px;
    width:800px;
    max-width:100%;
    position:relative;
}

p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 1.1rem;
}


h1{ 
    font-size: 2.667rem;
    line-height: 3rem;
    margin-top: 3rem;
}
h2{ 
    font-size: 2.336rem;
    line-height: 2.667rem;
    margin-top: 2.667rem;
}
h3{ 
    font-size: 2rem;
    line-height: 2.336rem;
    margin-top: 2.336rem;
}
h4{ 
    font-size: 1.667rem;
    line-height: 2rem;
    margin-top: 2rem;
}
h5{ 
    font-size: 1.336rem;
    line-height: 1.667rem;
    margin-top: 1.667rem;
}
h6{ 
    font-size: 1.1rem;
    line-height: 1.336rem;
    margin-top: 1.336rem;
}

code{
    color:#7e7e7e;
    font-family: 'RecVF', 'Courier New', Courier, monospace;
}

img{

    width:800px;
    max-width:100%;
    margin:30px 0px;
}

@media (max-width: 767.98px) {
    body{
        background-color:white;
    }
}