<textarea class="mdSection">{% include sections/section-1_Highly-Customizable.md %}</textarea>
<textarea class="mdSection">{% include sections/section-2_Extraordinarily.md %}</textarea>
<textarea class="mdSection">{% include sections/section-3_Sans-Mono.md %}</textarea>

<script>
    // var mdElement = document.getElementById('mdSection');
    // var textNode = mdElement.firstChild;
    // var URI = textNode.data;
	let loaded = false;

	for (let textarea of document.querySelectorAll('textarea')){
		    var simplemde = new SimpleMDE({
				autofocus: true,
				autorefresh: true,
				autosave: {
					enabled: false
				},
				blockStyles: {
					bold: "__",
					italic: "_"
				},
				element: textarea,
				forceSync: true,
				hideIcons: ["guide", "heading"],
				indentWithTabs: false,
				lineWrapping: true,
				parsingConfig: {
					allowAtxHeaderWithoutSpace: true,
					strikethrough: false,
					underscoresBreakWords: true,
				},
				placeholder: "Type here...",
				promptURLs: false,
				renderingConfig: {
					singleLineBreaks: true,
					codeSyntaxHighlighting: true,
				},
				spellChecker: false,
				status: false,
				styleSelectedText: false,
				tabSize: 4,
				toolbar: false,
				toolbarTips: false,
			});
		
		simplemde.render(); 
	};


// simplemde.value(URI);
// pos = simplemde.codemirror.getCursor();
// simplemde.codemirror.setCursor(2, 44);

// simplemde.codemirror.replaceSelection("\n \n## A highly customizable new variable font.");

// let cm = simplemde.codemirror;
// cm.codemirror.on('scrollCursorIntoView', (cm, e) => {
//     e.preventDefault
// });

// word.markText({line:1,ch:1},{line:3,ch:1},{readOnly:true});

// function insertText(data) {
// 	var cm = simplemde.codemirror;
// 	var doc = cm.getDoc();
// 	var cursor = doc.getCursor(); // gets the line number in the cursor position
// 	var line = doc.getLine(cursor.line); // get the line contents
// 	var pos = {
// 		line: cursor.line
// 	};
// 	if (line.length === 0) {
// 		// check if the line is empty
// 		// add the data
// 		doc.replaceRange(data, pos);
// 	} else {
// 		// add a new line and the data
// 		doc.replaceRange("\n" + data, pos);
// 	}
// }

// let elem = document.createElement("div");
// elem.style.fontSize = "300px";
// elem.innerHTML = "<a href='#'>Click Me</a>"
// insertText(elem);

console.log(simplemde.codemirror.getScrollInfo());

simplemde.codemirror.on("mousedown", function(cm, event){
	// event.preventDefault();
	console.log(event);
	// console.log(simplemde.codemirror.cursorCoords);
	// console.log("mouse down");
});

// simplemde.codemirror.on("update", function(){
// 	if (loaded == false){
// 		let tags = document.getElementsByClassName("cm-string");
// 		let tagName;
// 		for (var i=0;i<tags.length;i++){
// 			if (tags[i].innerHTML.length > 1 && tags[i].parentElement.getElementsByClassName('cm-tag')[0].innerHTML == '&lt;'){
// 				tagName = tags[i].parentElement.getElementsByClassName('cm-tag')[1].innerHTML
// 				tags[i].parentElement.style.color = "#cccccc";
// 				let elem = document.createElement(tagName);
// 				elem.setAttribute('data-src', tags[i].innerHTML);
// 				elem.setAttribute('class', 'lazy');
// 				// simplemde.codemirror.renderline
// 				tags[i].parentElement.appendChild(elem);
// 			}
// 		}
// 		// document.getElementsByTagName("body")[0].style.overflow = "auto";
// 		yall({
// 			events: {
// 				// The object key is sent as the first argument to `addEventListener`,
// 				// which is the event. The corresponding value can be the callback if you
// 				// don't want to send any options to `addEventListener`.
// 				load: function (event) {
// 					if (!event.target.classList.contains("lazy")) {
// 					event.target.classList.add("yall-loaded");
// 						if (document.getElementsByTagName("body")[0].classList.contains('inverse')){
// 							event.target.contentDocument.getElementsByTagName("body")[0].classList.toggle("inverse");
// 						}
// 					}
// 				},
// 				// If we want to pass options to the third argument in `addEventListener`,
// 				// we can use a nested object syntax like so:
// 				error: {
// 					// Here, the `listener` member is the callback.
// 					listener: function (event) {
// 						if (!event.target.classList.contains("lazy")) {
// 							event.target.classList.add("yall-error");
// 						}
// 					},
// 					// The option below is sent as the third argument to `addEventListener`,
// 					// offering more control over how events are bound. If you want to
// 					// specify `useCapture` in lieu of options pass a boolean here instead.
// 					options: {
// 						once: true
// 					}
// 				}
// 			}, 
// 			threshold: 400
// 		});
// 		for (var i=0;i<document.getElementsByTagName("iframe").length;i++){
// 			document.getElementsByTagName('iframe')[i].onload = function(){
// 				this.style.height = this.contentWindow.document.body.offsetHeight + 50 + 'px';
// 				this.parentElement.parentElement.style.height = this.contentWindow.document.body.offsetHeight + 50 + 'px';
// 			}
// 		}
// 		// setTimeout(function() {
// 		// 	simplemde.codemirror.refresh();
// 		// }, 100);
// 	}
// 	console.log(simplemde.codemirror.getScrollInfo());
// 	loaded = true;
// });
// simplemde.codemirror.viewportMargin = Infinity;
// 	console.log("loaded");
// });

</script>