
<div class="pre-footer clearfix">
    <div class="float-left">
        Inspired by signwriting, <br>
        designed for screens.
    </div>
    <div class="float-right">
        <a class="pre-footer__next">Origins & Process →</a>
    </div>
</div>
<div class="footer-top bg-dark">
	<div class="float-left">
    	<h4>Coming soon to Google Fonts!</h4>
    	<p>Recursive is under active development and will soon be available through Google Fonts. Until then, you can follow the project and download the latest betas on the <a href="">Recursive project repo on GitHub.</a></p>
	</div>
	<div class="float-left">

	</div>
</div>

<div class="footer-bottom bg-dark clearfix">
	<div class="column float-left">
		<img src="/assets/img/made_by_google_fonts_white.png">
	</div>
	<div class="column float-left">
		Recursive Sans & Mono
		<ul>
			<li>Features</li>
			<li>Origins & Process</li>
			<li>Specimen</li>
			<li>Download beta</li>
		</ul>
	</div>
	<div class="float-left credits">
		By <a href="(https://arrowtype.com)">Arrow Type</a>
    	<br>Type design by <a href="https://stephennixon.com/">Stephen Nixon</a>
    	<br>With contributions from <a href="http://www.katjaschimmel.de/">Katja Schimmel</a>, <a href="https://www.polyform.studio/en">Lisa Huang</a>, <a href="https://github.com/rafalbuchner/">Rafał Buchner</a>. Type mastering by <a href="https://benkiel.com/">Ben Kiel</a>. Early guidance from <a href="http://typemedia.org/">KABK TypeMedia</a> faculty. </p>

		<p>Website designed by <a href="http://math-practice.org/">Math Practice</a> (<a href="http://eroonkang.com/">E Roon Kang</a>)
    	<br>With contributions from <a href="http://minkyoungkim.com/home/">Minkyoung Kim</a>. Content editing by <a href="https://www.freshfonts.io">Noemi Stoeffer</a>. Development by <a href="https://taliacotton.com/">Talia Cotton</a></p>
	</div>
	<div class="column float-left links">
		<a href="#"><span>fonts.google.com</span>/specimen/Recursive</a>
		<a href="#"><span>github.com</span>/arrowtype/recursive</a>
	</div>
</div>

<!-- JS -->

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<!-- <script src="/js/aos.js"></script>
<script>
    AOS.init();
</script> -->
<script src='https://threejs.org/build/three.min.js'></script>
<script src='https://threejs.org/examples/js/controls/OrbitControls.js'></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!-- <script type="text/javascript" src="/js/sketch.js"></script> -->
<script type="text/javascript" src="/js/script.js"></script>

<script>
    var mdElement = document.getElementById('mdSection');
    var textNode = mdElement.firstChild;
    var URI = textNode.data;

    var simplemde = new SimpleMDE({
	autofocus: true,
	autosave: {
		enabled: true,
		uniqueId: "MyUniqueID",
		delay: 1000,
	},
	blockStyles: {
		bold: "__",
		italic: "_"
	},
	element: document.getElementById("mdSection"),
	forceSync: true,
	hideIcons: ["guide", "heading"],
	indentWithTabs: false,
	initialValue: "Hello world!",
	insertTexts: {
		horizontalRule: ["", "\n\n-----\n\n"],
		image: ["![](http://", ")"],
		link: ["[", "](http://)"],
		table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
	},
	lineWrapping: true,
	parsingConfig: {
		allowAtxHeaderWithoutSpace: true,
		strikethrough: false,
		underscoresBreakWords: true,
	},
	placeholder: "Type here...",
	previewRender: function(plainText) {
		return customMarkdownParser(plainText); // Returns HTML from a custom parser
	},
	previewRender: function(plainText, preview) { // Async method
		setTimeout(function(){
			preview.innerHTML = customMarkdownParser(plainText);
		}, 250);

		return "Loading...";
	},
	promptURLs: true,
	renderingConfig: {
		singleLineBreaks: false,
		codeSyntaxHighlighting: true,
	},
	shortcuts: {
		drawTable: "Cmd-Alt-T"
	},
	showIcons: ["code", "table"],
	spellChecker: false,
	status: false,
	status: ["autosave", "lines", "words", "cursor"], // Optional usage
	status: ["autosave", "lines", "words", "cursor", {
		className: "keystrokes",
		defaultValue: function(el) {
			this.keystrokes = 0;
			el.innerHTML = "0 Keystrokes";
		},
		onUpdate: function(el) {
			el.innerHTML = ++this.keystrokes + " Keystrokes";
		}
	}], // Another optional usage, with a custom status bar item that counts keystrokes
	styleSelectedText: false,
	tabSize: 4,
    toolbar: false,
    // toolbar: [
    //     {
    //         name: "redText",
    //         action: drawRedText,
    //         className: "fa fa-bold", // Look for a suitable icon
    //         title: "Red text (Ctrl/Cmd-Alt-R)",
    //     }
    // ],
	toolbarTips: false,
});


// function drawRedText(editor) {

//     var cm = editor.codemirror;
//     var output = '';
//     var selectedText = cm.getSelection();
//     var text = selectedText || 'placeholder';

//     output = '<span>!!' + text + '!!</span>';
//     cm.replaceSelection(output);

// }


// var simplemde = new SimpleMDE();
simplemde.value(URI);

// console.log(simplemde);

// simplemde.codemirror.on("change", function(){
//     // insertImage();
//     // console.log(simplemde);
// });

// function insertImage(){
//     let urls = document.getElementsByClassName("cm-url");
//     for (var i=0;i<urls.length;i++){
//         if (urls[i].classList.contains('cm-formatting') == false){
//             let imgElem = document.createElement("img");
//             imgElem.src = urls[i].innerHTML;
//             // console.log(urls[i].parentElement);
//             urls[i].parentElement.appendChild(imgElem);
//             // console.log(urls[i].parentElement);
//         };
//     }
// }
window.onload = function(){
	// console.log("loaded");
	// insertImage();
	let tags = document.getElementsByClassName("cm-string");
	// console.log(tags);
	let tagName;
	for (var i=0;i<tags.length;i++){
		if (tags[i].innerHTML.length > 1 && tags[i].parentElement.getElementsByClassName('cm-tag')[0].innerHTML == '&lt;'){
			tagName = tags[i].parentElement.getElementsByClassName('cm-tag')[1].innerHTML
			// console.log(tagName);
			tags[i].parentElement.style.color = "#cccccc";
			let elem = document.createElement(tagName);
			elem.src = tags[i].innerHTML;
			tags[i].parentElement.appendChild(elem);
		}
		// console.log(tags[i].parentElement.getElementsByClassName('cm-tag')[0].innerHTML);
		// console.log(tags[i].parentElement.querySelector('.cm-tag:not(m-bracket)').innerHTML);
	}
	// console.log("loaded2");
	console.log("working");
	setTimeout(function(){
	for (var i=0;i<document.getElementsByTagName("iframe").length;i++){
		console.log("hello world")
        console.log(document.getElementsByTagName("iframe")[i].contentWindow.document.body.offsetHeight);
		console.log(document.getElementsByTagName('iframe')[i].contentWindow.document.body.scrollHeight);
		document.getElementsByTagName('iframe')[i].style.height = document.getElementsByTagName("iframe")[i].contentWindow.document.body.offsetHeight + 'px';
    }
	}, 1000);
}
// window.scrollTo(0,0);
</script>
