<div class="pre-footer clearfix">
    <div class="float-left">
        Inspired by signwriting, <br>
        designed for screens.
    </div>
    <div class="float-right">
        <a class="pre-footer__next">Origins & Process →</a>
    </div>
</div>
<div class="footer bg-dark">
    <h4>Coming soon to Google Fonts!</h4>
    <p>Recursive is under active development and will soon be available through Google Fonts. 
Want (very occassional) updates on new releases of Recursive? Sign up!</p>
</div>

<!-- JS -->

<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<!-- <script src="/js/aos.js"></script>
<script>
    AOS.init();
</script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
