<div class="footer">
	<!-- <div class="central-column"> -->
	<div class="credits">
		
		<h1>Recursive Mono/Sans, by <a href="https://arrowtype.com" target="_blank">Arrow Type</a></h1>
		<p>With contributions from <a href="http://www.katjaschimmel.de/" target="_blank">Katja Schimmel</a>, <a
				href="https://www.polyform.studio/en" target="_blank">Lisa Huang</a>, & <a
				href="https://github.com/rafalbuchner/" target="_blank">Rafał Buchner</a>. Early guidance from <a
				href="http://typemedia.org/" target="_blank">KABK TypeMedia</a> faculty. </p>

		<p>Website by <a href="http://math-practice.org/" target="_blank">Math Practice</a>, <a
				href="http://minkyoungkim.com/home/" target="_blank">Irin Kim</a>, <a href="https://taliacotton.com/"
				target="_blank">Talia Cotton</a>, and <a href="https://stephennixon.com" target="_blank">Stephen
				Nixon</a></p>
		</p>
	</div>
	<div class="description">
			<h4>Coming soon to Google Fonts!</h4>
		<p>Recursive is a variable font family for code & design. It started as the TypeMedia 2018 thesis project of
			Stephen Nixon and has since been commissioned for open-source release by Google Fonts. Follow the project
			and download the latest betas on the <a href="https://github.com/arrowtype/recursive"
				target="_blank">Recursive&nbsp;project&nbsp;repo&nbsp;on&nbsp;GitHub →</a></p>
	</div>
	<!-- </div> -->
</div>