<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Recursive {% if page.title %}| {{ page.title}}{% endif %}</title>
  <meta property="og:title" content="Recursive {% if page.title %}| {{ page.title}}{% endif %}">
  <meta property="twitter:title" content="Recursive {% if page.title %}| {{ page.title}}{% endif %}">

  <meta name="author" content="{{ site.data.globals.author}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta property="twitter:card" content="summary_large_image">
  

  {% if page.description %}
  <meta name="description" content="{{ page.description}}">
  <meta property="twitter:description" content="{{ page.description}}">
  <meta property="og:description" content="{{ page.description}}">
  {% else %}
  <meta name="description" content="{{ site.data.globals.description}}">
  <meta property="twitter:description" content="{{ site.data.globals.description}}">
  <meta property="og:description" content="{{ site.data.globals.description}}">
  {% endif %}

  {% if page.metaImage %}
  <meta property="og:image" content="{{ page.image }}">
  <meta property="twitter:image" content="{{ page.image }}">
  {% else %}
  <meta property="og:image" content="{{ site.data.globals.image }}">
  <meta property="twitter:image" content="{{ site.data.globals.image }}">
  {% endif %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
