
  <!-- Global site tag (gtag.js) - Google Analytics -->


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>{{ site.data.globals.title}}</title>
  <meta property="og:title" content="{{ site.data.globals.title}}">
  <meta property="twitter:title" content="{{ site.data.globals.title}}">

  <meta name="author" content="{{ site.data.globals.author}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.data.globals.url }}">
  <meta property="twitter:url" content="{{ site.data.globals.url }}">
  <meta property="twitter:card" content="summary_large_image">
  

  <meta name="description" content="{{ site.data.globals.description}}">
  <meta property="twitter:description" content="{{ site.data.globals.description}}">
  <meta property="og:description" content="{{ site.data.globals.description}}">
  <meta property="og:image" content="{{ site.data.globals.image }}">
  <meta property="twitter:image" content="{{ site.data.globals.image }}">

  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

  <!-- Switch these two lines after a purge: -->
  <link rel="stylesheet" href="/css/purge-result/main.css">
  <!-- <link rel="stylesheet" href="/css/main.css"> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151519261-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-151519261-1');
</script>

  

  <style>
    html {
      visibility: visible;
      opacity: 1;
    }
  </style>

  