<div class="container-fluid py-5" id="monoSans">
    <div class="container">
        <!-- <input type="text" id="inputMono" value = "Wx#7%b">
        <input type="text" id="inputSans" value = "Editors"> -->
        <div class="position-relative">
            <div id="inputMono">Wx#7%b</div>
            <div id="inputMonoValues"></div>
        </div>
        <div class="position-relative">
            <div id="inputSans">Editors</div>
            <div id="inputSansValues"></div>
        </div>
    </div>
</div>