<div class="fixed-nav">


<nav class="navbar navbar-expand-md p-0">
  <a class="navbar-brand" href="/">
    Recursive Sans & Mono
    <a class="navbar-toggler" id="navbarToggler" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="d-md-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="24" height="24" fill="black"/>
      <rect x="4" y="5" width="16" height="2" fill="white"/>
      <rect x="4" y="11" width="16" height="2" fill="white"/>
      <rect x="4" y="17" width="16" height="2" fill="white"/>
      </svg>
    </a>

  </a>
  <div id="navbar-scrim" class="hideOnMobile show"></div>
  <div class="collapse navbar-collapse show hideOnMobile" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
          <li><a class="nav-link" href="/#toolbar">Features</a></li>
          <li><a class="nav-link" href="/process">Process</a></li>
          <li><a class="nav-link" href="/assets/arrowtype-recursive-sansmono-specimen.pdf">PDF (11MB)</a></li>
          <li><a  class="nav-link"  target="_blank" href="https://github.com/arrowtype/recursive/">Source ↗
            </a>
          </li>
      </ul>
  </div>
  
</nav>

</div>