<div class="fixed-nav">
<a href="#">
  <div class="notice bg-primary clearfix">
    <div class="float-left d-none d-md-block">
    Love code ligatures? Support their development in Recursive and get type swag!
    </div>
    <div class="float-right">
      Support on Kickstarter
    </div>
  </div>
</a>


<nav class="navbar navbar-expand-lg p-0">
  <a class="navbar-brand" href="{{ site.url }}">
    Recursive Sans & Mono
    <a class="navbar-toggler" id="navbarToggler" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="d-md-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="24" height="24" fill="black"/>
      <rect x="4" y="5" width="16" height="2" fill="white"/>
      <rect x="4" y="11" width="16" height="2" fill="white"/>
      <rect x="4" y="17" width="16" height="2" fill="white"/>
      </svg>
    </a>

  </a>
  <div class="collapse navbar-collapse show hideOnMobile" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
          <li><a class="nav-link" href="#">Features</a></li>
          <li><a class="nav-link" href="#">Origin & Process</a></li>
          <li><a class="nav-link" href="#">Specimen</a></li>
          <li><a class="nav-link" href="#">Download <span class="beta">Beta</span></a></li>
      </ul>
  </div>
</nav>

</div>