<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="canonical" href="https://www.recursive.design/process" />
        {% include head.html %}
        <link rel="stylesheet" href="/css/custom/default.css">
          
    </head>
  <body>
    {% include navigation.html %}
    {% include gf-api-config.html %}
      <article class="article-container">
        <!-- <div class="default-page-column"> -->
            {{ content }}
        <!-- </div> -->
      </article>
    {% include footer.html %}
    <script type="text/javascript" src="/js/gf-url-config.js"></script>
  </body>
</html>
